<div class="encabezado">
    <h2 class="titulo">Carrito</h2>
    {{>menu}}
</div>
<div class="encabezadoF"></div>


<input type="text" value="{{user.cart._id}}" hidden id="carrito2">

<ul class="contenedorArticulo">
    <li class="liCart">
        <div class="tituloCart">PRODUCTO</div>
        <div class="tituloCart">CÓDIGO</div>
        <div class="tituloCart">STOCK</div>
        <div class="tituloCart">CANTIDAD</div>
        <div class="tituloCart">PRECIO</div>
        <div class="tituloCart"></div>
    </li>

    {{#each cart.products}}
        <li class="liCart articulos">
           
            <div class="artProducto">{{this.product.title}}</div>
            <div class="">{{this.product.code}}</div>
            <div class="">{{this.product.stock}}</div>
            <div class="cantidad">
                <button onclick="dec('{{this.product._id}}')" class="btnq btn btn-dark botonEliminar">-</button>
                <div class="">{{quantity}}</div>
                <button onclick="inc('{{this.product._id}}')" class="btnq btn btn-dark botonEliminar">+</button>
            </div>
            <div class="">${{this.product.price}}</div>

            <div class="card-body text-center">
                <button onclick="eliminar('{{this.product._id}}')" class="btn btn-danger botonEliminar">Eliminar</button>
            </div>

        </li>
        
    {{/each}}
</ul>

<script src="/js/carts.js"></script>
